<div class="fullscreen authScreen hostScene" ng-if="!vm.isAuthed()">
    <input type="text" ng-model="vm.username" placeholder="username">
    <button ng-class="{'active': vm.isJoinable() }" ng-click="vm.join()">Join</button>
</div>


<div class="fullscreen hostScene" ng-if="vm.isAuthed() && !vm.isConnected() && !vm.isGameStarted()">
    <div class="lobby">
        <div class="l-searching" ng-if="!vm.getHosts()">Searching For Hosts</div>
        <div class="l-hosts" ng-click="vm.startGame(host)" ng-repeat="host in vm.getHosts()">{{host.hostid}}</div>
        <div class="l-button" ng-click="vm.createHost()" ng-show="vm.amIHost()">Create Host</div>
    </div>
</div>

<div class="fullscreen gameScene" >
    <div class="hostName">{{vm.getGame().host.hostid}}</div>
    <svg id="turboId"  xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
        <rect class="t-minigun" id="tminigun-b"></rect>
        <rect class="t-minigun" id="tminigun-c"></rect>
    </svg>
</div>